.navbarcolor{
    background-color: #ca832f !important;
    height: 30px;
    padding: 1pc;
}
.white-color{
    color: white !important;
    font-size: small;
    
}
.hiddenn{
    visibility: hidden;
}
.fa-cart-plus{
    font-size: 28px;
}
.navlink{
    /* font-weight: bold; */
    /* font-family: Arial, Helvetica, sans-serif; */
    color: white !important;
}
.navbar2{
    background-color: #dd9a47 !important;
    
}
.maincard{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fa-shipping-fast,.fa-headphones,.fa-umbrella{
    font-size: 50px;
    margin-right: 10px;
    color: #ca832f !important;
}
.card1,.card2,.card3{
    display:flex;
    width: 300px;
    height: 100px;
    background-color: white;
    box-shadow: 2px 4px 5px grey;
    justify-content: center;
    align-items: center;
    
    
    margin-top: 10px;
}
h3{
    color: #ca832f !important;
}
@media screen and (max-width: 600px) {
    .card1,.card2,.card3 {
      width: 100%;
    }
  }
  .newArrivals{
      margin-top: 50px;
  }
  .card{
      width: 250px;
      height:auto !important;
      margin-bottom: 10px;
  }
  .card-text{
      font-weight: bold;
  }
  .btn-primary{
      width: 100%;
      background-color: #ca832f;
  }
.heading{
    text-align: center;
    font-weight: bold;
    color:#ca832f ;
;   margin: 20px;
}
.heading>h1{
    text-shadow: 2px 2px 4px grey;
}
.footer{
    width: 100%;
    background-color: #ca832f;
}
.footer>div{
    text-align: center;
    color: white;
    
}